<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wolveswithsword.pathfindergeneratorapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pathfinder"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/StandartTheme"
        android:name=".View.Utils.AppObject">

        <activity android:name=".View.Activity.Reward.StandartRewardActivity"
            android:parentActivityName=".View.Activity.Generation.StandartGenerationActivity"
            android:label="Butin"
            android:screenOrientation="portrait"/>

        <activity android:name=".View.Activity.Reward.CustomRewardActivity"
            android:parentActivityName=".View.Activity.Generation.CustomTreasureGenerationActivity"
            android:label="Butin"
            android:screenOrientation="portrait"/>

        <activity android:name=".View.Activity.SmartItemActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".View.Activity.Save.SaveMenuActivity"
            android:parentActivityName=".View.Activity.MainMenuActivity"
            android:label="Vos sauvegardes"
            android:screenOrientation="portrait"
            />
        <activity android:name=".View.Activity.Generation.CustomItemGenerationActivity"
            android:parentActivityName=".View.Activity.MainMenuActivity"
            android:label="Création d'objets"
            android:screenOrientation="portrait"/>

        <activity android:name=".View.Activity.Generation.StandartGenerationActivity"
            android:parentActivityName=".View.Activity.MainMenuActivity"
            android:label="Création Standard"
            android:screenOrientation="portrait"/>

        <activity android:name=".View.Activity.Generation.CustomTreasureGenerationActivity"
            android:parentActivityName=".View.Activity.MainMenuActivity"
            android:label="Création par Trésor"
            android:screenOrientation="portrait"/>

        <activity android:name=".View.Activity.Save.EditSaveActivity"
            android:parentActivityName=".View.Activity.Save.SaveMenuActivity"
            android:label="Edition de sauvegarde"
            android:screenOrientation="portrait"/>

        <activity android:name=".View.Toolbar.MainToolbarActivity"/>
        <activity android:name=".View.Toolbar.RewardToolbarActivity"/>

        <activity android:name=".View.Activity.MainMenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>